<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>

<body>
<main>
    <div class="container">
        <th:block th:include="~{fragments/nav}"></th:block>
        <div class="container mt-lg-5 bg-transparent h-100">
            <h4 class="w-100 text-dark text-right mt-3">ADD ORDER</h4>
        </div>
        <th:block th:include="~{fragments/draft-order-customer-data}"></th:block>
        <br/>
        <div style="margin: 0 auto; padding-bottom: 0; padding-top: 0" align="center"
             class="bg-transparent tm-block text-dark">
            <a th:href="@{/items/all/pageable/orderAddItem}"
               class="btn btn-outline-primary btn-sm d-inline-block mx-auto rounded">Add Item
            </a>
        </div>
        <br/>
        <br/>
        <div id="replace_div" class="table-responsive text-dark">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">Item &#8470;</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Subtotal</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="orderLine : ${session.orderData.orderLineEntities}">
                    <th scope="row" th:text="${orderLine.item.id}"></th>
                    <td th:text="${orderLine.item.name}"></td>
                    <td><span th:text="${orderLine.item.price}"></span></td>
                    <td>
                        <input type="hidden" th:attr="name='id'" th:value="${orderLine.item.id}"/>
                        <div th:if="${notEnoughStock} == ${orderLine.item.id}" class="mx-auto text-center">
                            <span class="text-danger err-msg">Not enough stock</span>
                        </div>
                        <input type="number" style="width: 5em" min="1" th:value="${orderLine.quantity}"
                               name="quantity"
                               class="rounded border border-dark quantity"/>
                        <button class="btn-sm btn-outline-primary update-draft rounded">
                            Update
                        </button>
                    </td>
                    <td><span th:text="${orderLine.subtotal}"></span></td>
                    <td>
                        <button
                                class="btn-sm btn-outline-primary open-remove-dialog rounded"
                                data-toggle="modal"
                                data-target="#removeModal"
                                th:data-id="${orderLine.item.id}">
                            Remove
                        </button>
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        TOTAL: <span th:text="${session.orderData.getTotalAmount()}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div style="display: inline; margin-left: auto; margin-right: auto" class="bg-transparent tm-block">
                <a th:href="@{/orders/cancel}"  class="btn btn-outline-primary btn-sm d-inline-block mx-auto rounded">
                    Cancel
                </a>
                <a th:href="@{/orders/save/draft}" class="btn btn-outline-primary btn-sm d-inline-block mx-auto rounded">
                    Save Draft
                </a>
                <a th:href="@{/orders/save}" class="btn btn-outline-primary btn-sm d-inline-block mx-auto rounded">
                    Save
                </a>
            </div>
        </div>
        <div th:replace="fragments/remove-dialog.html :: removeDialog(path='/orders/orderData/remove')"></div>
    </div>
</main>
<th:block th:include="~{fragments/footer}"></th:block>
</body>

</html>