<th:block xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="col-12 container-fluid text-center text-light footer-body mt-5">
            <div class="row">
                <div class="col-lg-4 col-xs-12">
                    <a href="#!"><p class="mb-0 mt-4 pl-0">TOP DEPOT</p></a>
                    <a href="#!"><p class="mb-0">Worldwide Delivery</p></a>
                    <a href="#!"><p class="mb-0">Star Logistic Ltd.</p></a>
                </div>
                <div class="col-lg-4 col-xs-12">
                    <section class="mt-4 mb-1">
                        <a class="btn btn-outline-secondary m-1 btn-icon" href="https://bg-bg.facebook.com/" role="button">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>

                        <a class="btn btn-outline-secondary m-1 btn-icon" href="https://twitter.com/" role="button">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>

                        <a class="btn btn-outline-secondary m-1 btn-icon" href="https://www.google.bg/?hl=bg" role="button">
                            <i class="fa fa-google" aria-hidden="true"></i>
                        </a>

                        <a class="btn btn-outline-secondary m-1 btn-icon" href="https://www.instagram.com/" role="button">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>

                        <a class="btn btn-outline-secondary m-1 btn-icon" href="https://www.linkedin.com/" role="button">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>

                        <a class="btn btn-outline-secondary m-1 btn-icon" href="https://github.com/" role="button">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </section>
                    <div>
                        <p>
                            &copy; 2021 Copyright: Star Logistic Team
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12">
                    <p class="mb-0 mt-2">Sofia, Bulgaria</p>
                    <p class="mb-0">15, Tintyava Str.</p>
                    <p class="mb-0"><i class="fa fa-phone mr-3"></i>+359 02 111 222</p>
                    <p class="mb-2"><i class="fa fa-envelope-o mr-3"></i>info@starlogistic.com</p>
                </div>

            </div>
        </div>
    </div>
</th:block>