<th:block xmlns:th="http://www.thymeleaf.org">
        <div class="row">
            <div class="bg-transparent text-dark rounded customer-data-table" th:object="${session.editOrderData.customer}">
<!--                <p>CUSTOMER DATA</p>-->
                <div class="customer-data-row" >
                    <h5 class="customer-data" th:text="${session.editOrderData.customer.companyName}"> </h5>
                </div>
                <div class="customer-data-row" >
                    <span class="customer-data" th:text="${session.editOrderData.customer.personName}"></span>
                </div>
                <div class="customer-data-row" >
                    <span class="customer-data" th:text="${session.editOrderData.customer.email}"></span>
                </div>
                <div class="customer-data-row" >
                    <span class="customer-data" th:text="${session.editOrderData.customer.address.city}"></span>
                    <span class="customer-data" th:text="${session.editOrderData.customer.address.street}"></span>
                </div>
                <div class="customer-data-row" >
                    <span class="customer-data" th:text="${session.editOrderData.customer.address.phone}"></span>
                </div>
            </div>
        </div>
</th:block>